<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Handmug{% endblock %}</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <script type="application/x-javascript">
//            addEventListener("load", function() {
//                setTimeout(hideURLbar, 0);
//            }, false);
//            function hideURLbar(){
//                window.scrollTo(0, 1);
//            }
        </script>
        <!-- //for-mobile-apps -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% if not app.debug %}
            {{ include('metrika.html.twig') }}
        {% endif %}
        {% block body %}{% endblock %}
        <!-- footer -->
        <div class="footer">
            <div class="container">
                {% block footernav %}{% endblock %}
                <ul class="social-nav footer-social">
                    <li><a href="#">
                            <i class="fa fa-vk" aria-hidden="true"></i></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                        </a></li>
                </ul>
                <h3>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>+7 953 793 33 44<span>
                    <i class="fa fa-phone" aria-hidden="true"></i>+7 953 793 33 44</span>
                </h3>
                <div class="mail-foot">
                    <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:mail@handmug.ru">mail@handmug.ru</a>
                </div>
            </div>
            <div class="copy-right">
                <p>&copy; 2016 Handmug | Дизайн <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
        <!-- //footer -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
