<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Handmug{% endblock %}</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <script type="application/x-javascript">
//            addEventListener("load", function() {
//                setTimeout(hideURLbar, 0);
//            }, false);
//            function hideURLbar(){
//                window.scrollTo(0, 1);
//            }
        </script>
        <!-- //for-mobile-apps -->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% if not app.debug %}
            {{ include('metrika.html.twig') }}
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
