<div class="header">
    <div class="logo">
        <h1>
            <a href="{{ url('homepage') }}">Солнечные подарки
                <span>На заказ ({{ city|cityName }})</span>
            </a>
        </h1>
    </div>
    <div class="mail-phone">
        <ul>
            {#<li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>+7 953 793 33 44</li>#}
            <li><span class="fa fa-whatsapp" aria-hidden="true" style="position: relative"></span>+7 953 793 33 44</li>
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:mail@handmug.ru">mail@handmug.ru</a></li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>