{% extends 'base.html.twig' %}

{% block title %}
Админ панель
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            Привет, Админ!
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
